body {
    background: linear-gradient(-45deg,black, white, gray,green);
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: loadBody 4s ease infinite;
}

div {
    display: flex;
}

p {
    color:black;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 50px;
    animation: loadText 4s infinite;
}

.l {
    animation: loadText 4s 0.1s infinite;
}
.o {
    animation: loadText 4s 0.2s infinite;
}
.a {
    animation: loadText 4s 0.3s infinite;
}
.d {
    animation: loadText 4s 0.4s infinite;
}
.i {
    animation: loadText 4s 0.5s infinite;
}
.n {
    animation: loadText 4s 0.6s infinite;
}
.g {
    animation: loadText 4s 0.7s infinite;
}

@keyframes loadText {
    to {
        transform: translateY(-300px);
        opacity: 0;
    }
}

@keyframes loadBody {
    0% {background-position: 0% 50%;}
50% {background-position: 100% 50%;}
100% {background-position: 0% 50%;}m 
}


